<a href="https://colab.research.google.com/github/SamuelSousaFerreira/python/blob/main/Python_Collections_tuple_and_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
idade_1 = 39
idade_2 = 30
idade_3 = 27
print(idade_1)
print(idade_2)
print(idade_3)

39
30
27

In [2]:
idades = [39,30,27,18]

In [3]:
type(idades) #https://docs.python.org/3/tutorial/datastructures.html

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades.append(15)

In [7]:
idades

[39, 30, 27, 18, 15]

In [8]:
idades[4]

15

In [9]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [10]:
idades.remove(30)

In [11]:
idades

[39, 27, 18, 15]

In [12]:
idades.remove(30) # dá erro  quando não tem o elemento

ValueError: ignored

In [ ]:
idades.append(15)
idades

In [ ]:
idades.remove(15) #remove apenas a primeira aparição do elemento
idades

In [ ]:
idades.clear() #remove todos os elementos

In [ ]:
idades

In [ ]:
idades = [39,30,27,18,15]
idades

In [ ]:
20 in idades

In [ ]:
15 in idades

In [ ]:
if 15 in idades:
  idades.remove(15)

idades

In [ ]:
idades.insert(0,20)
idades

In [ ]:
idades = [20,3,18]
idades

In [ ]:
idades.append([20,39])
idades

In [ ]:
idades = [20,3,18]
idades.extend([27,19])
idades

In [ ]:
for idade in idades:
  print(idade + 1)

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
  
idades_no_ano_que_vem

In [ ]:
idades_no_ano_que_vem = [x+1 for x in idades]
idades_no_ano_que_vem

In [ ]:
[x for x in idades if x>18]

In [ ]:
def faz_processamento_de_visualização(lista):
  print(len(lista))
  lista.append(5)

In [ ]:
faz_processamento_de_visualização(idades)
idades

In [ ]:
def faz_processamento_de_visualização(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  lista.append(5)

In [ ]:
faz_processamento_de_visualização()
faz_processamento_de_visualização()
faz_processamento_de_visualização()
faz_processamento_de_visualização()

# Objetos Próprios

In [ ]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return "[>>Codigo{} Saldo {}<<".format(self.codigo,self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

In [ ]:
conta_do_gui.deposita(500) 
print(conta_do_gui)

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

In [ ]:
contas = [conta_do_gui,conta_da_dani]
print(contas)

In [ ]:
for i in contas:
  print(i)

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0],contas[1])
deposita_para_todas(contas)
print(contas[0],contas[1])

In [ ]:
contas.insert(0,76)
print(contas)

In [ ]:
guilherme = ('Guilherme',37,1981) #tupla
daniela = ('Daniela','31',1987)

In [ ]:
def deposita(conta): #variação "Funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] +100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

In [ ]:
usuarios.append(('Paulo',39,1979))
usuarios

# Herança e Polimorfismo

In [ ]:
from abc import ABCMeta,abstractmethod # para forçar que outras classes sobrescrevam um método

class Conta(metaclass = ABCMeta):
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    #raise NotImplementedError
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3


class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(88)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(10)
conta17.passa_o_mes()
print(conta17)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)

In [ ]:
contas = [conta16, conta17]
for conta in contas:
  conta.passa_o_mes()
  print(conta) # duck Typing

# array
evitaremos usar. Se precisarmos de trabalho numérico o costume é usar o numpy

In [ ]:
import array as arr
arr.array('d',[1,3.5])

In [ ]:
import numpy as np

In [ ]:
numeros = np.array([1,3.5])
numeros + 3

# Igualdade '___eq__'

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

In [ ]:
conta1 == conta2 #Não são iguais os endereços na memória

In [ ]:
conta1._saldo == conta2._saldo # Os atributos são iguais

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

In [ ]:
conta1 == conta2

In [ ]:
conta1 != conta2

In [ ]:
conta1 in [conta2]

In [ ]:
conta2 in [conta1]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

In [ ]:
isinstance(ContaCorrente(34), Conta)

In [ ]:
idades = [15,87,65,56,32,49,37]

In [ ]:
for i in range(len(idades)):
  print(i, idades[i])

In [ ]:
for i in enumerate(idades):
  print(i)

In [ ]:
[i for i in enumerate(idades) ]

In [ ]:
list(enumerate(idades))

In [ ]:
[enumerate(idades)]

In [ ]:
for indice, idade in enumerate(idades):
  print(indice,"x",idade)

In [ ]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for nome, idade, ano in usuarios: #já desempacotando
  print(nome)

In [ ]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for nome, _, _ in usuarios: #já desempacotando e ignorando o resto
  print(nome)

In [ ]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for _, x, _ in usuarios: #já desempacotando e ignorando o resto
  print(x)