<a href="https://colab.research.google.com/github/SamuelSousaFerreira/python/blob/main/Python_Collections_tuple_and_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
idade_1 = 39
idade_2 = 30
idade_3 = 27
print(idade_1)
print(idade_2)
print(idade_3)

39
30
27

In [66]:
idades = [39,30,27,18]

In [67]:
type(idades) #https://docs.python.org/3/tutorial/datastructures.html

list

In [68]:
len(idades)

4

In [69]:
idades[0]

39

In [70]:
idades.append(15)

In [71]:
idades

[39, 30, 27, 18, 15]

In [72]:
idades[4]

15

In [73]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [74]:
idades.remove(30)

In [75]:
idades

[39, 27, 18, 15]

In [76]:
idades.remove(30) # dá erro  quando não tem o elemento

ValueError: ignored

In [77]:
idades.append(15)
idades

[39, 27, 18, 15, 15]

In [78]:
idades.remove(15) #remove apenas a primeira aparição do elemento
idades

[39, 27, 18, 15]

In [79]:
idades.clear() #remove todos os elementos

In [80]:
idades

[]

In [81]:
idades = [39,30,27,18,15]
idades

[39, 30, 27, 18, 15]

In [82]:
20 in idades

False

In [83]:
15 in idades

True

In [84]:
if 15 in idades:
  idades.remove(15)

idades

[39, 30, 27, 18]

In [85]:
idades.insert(0,20)
idades

[20, 39, 30, 27, 18]

In [86]:
idades = [20,3,18]
idades

[20, 3, 18]

In [87]:
idades.append([20,39])
idades

[20, 3, 18, [20, 39]]

In [88]:
idades = [20,3,18]
idades.extend([27,19])
idades

[20, 3, 18, 27, 19]

In [89]:
for idade in idades:
  print(idade + 1)

21
4
19
28
20

In [90]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
  
idades_no_ano_que_vem

[21, 4, 19, 28, 20]

In [91]:
idades_no_ano_que_vem = [x+1 for x in idades]
idades_no_ano_que_vem

[21, 4, 19, 28, 20]

In [92]:
[x for x in idades if x>18]

[20, 27, 19]

In [93]:
def faz_processamento_de_visualização(lista):
  print(len(lista))
  lista.append(5)

In [94]:
faz_processamento_de_visualização(idades)
idades

5

[20, 3, 18, 27, 19, 5]

In [95]:
def faz_processamento_de_visualização(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  lista.append(5)

In [96]:
faz_processamento_de_visualização()
faz_processamento_de_visualização()
faz_processamento_de_visualização()
faz_processamento_de_visualização()

0
0
0
0

# Objetos Próprios

In [97]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return "[>>Codigo{} Saldo {}<<".format(self.codigo,self.saldo)

In [98]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo15 Saldo 0<<

In [99]:
conta_do_gui.deposita(500) 
print(conta_do_gui)

[>>Codigo15 Saldo 500<<

In [100]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo47685 Saldo 1000<<

In [101]:
contas = [conta_do_gui,conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7f1e9c794090>, <__main__.ContaCorrente object at 0x7f1e9c831150>]

In [102]:
for i in contas:
  print(i)

[>>Codigo15 Saldo 500<<
[>>Codigo47685 Saldo 1000<<

In [103]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0],contas[1])
deposita_para_todas(contas)
print(contas[0],contas[1])

[>>Codigo15 Saldo 500<< [>>Codigo47685 Saldo 1000<<
[>>Codigo15 Saldo 600<< [>>Codigo47685 Saldo 1100<<

In [104]:
contas.insert(0,76)
print(contas)

[76, <__main__.ContaCorrente object at 0x7f1e9c794090>, <__main__.ContaCorrente object at 0x7f1e9c831150>]

In [105]:
guilherme = ('Guilherme',37,1981) #tupla
daniela = ('Daniela','31',1987)

In [106]:
def deposita(conta): #variação "Funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] +100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [107]:
deposita(conta_do_gui)

TypeError: ignored

In [108]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', '31', 1987)]

In [109]:
usuarios.append(('Paulo',39,1979))
usuarios

[('Guilherme', 37, 1981), ('Daniela', '31', 1987), ('Paulo', 39, 1979)]

# Herança e Polimorfismo

In [110]:
from abc import ABCMeta,abstractmethod # para forçar que outras classes sobrescrevam um método

class Conta(metaclass = ABCMeta):
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    #raise NotImplementedError
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [111]:
print(Conta(88))

TypeError: ignored

In [112]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3


class ContaInvestimento(Conta):
  pass

In [113]:
ContaInvestimento(88)

TypeError: ignored

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(10)
conta17.passa_o_mes()
print(conta17)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)

In [ ]:
contas = [conta16, conta17]
for conta in contas:
  conta.passa_o_mes()
  print(conta) # duck Typing

# array
evitaremos usar. Se precisarmos de trabalho numérico o costume é usar o numpy

In [114]:
import array as arr
arr.array('d',[1,3.5])

array('d', [1.0, 3.5])

In [115]:
import numpy as np

In [116]:
numeros = np.array([1,3.5])
numeros + 3

array([4. , 6.5])

# Igualdade '___eq__'

In [117]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [118]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0 <<]

In [119]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0 <<]

In [120]:
conta1 == conta2 #Não são iguais os endereços na memória

False

In [121]:
conta1._saldo == conta2._saldo # Os atributos são iguais

True

In [122]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [123]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0 <<]

In [124]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0 <<]

In [125]:
conta1 == conta2

True

In [126]:
conta1 != conta2

False

In [127]:
conta1 in [conta2]

True

In [128]:
conta2 in [conta1]

True

In [129]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [130]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [131]:
conta1 == conta2

False

In [132]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [133]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [134]:
isinstance(ContaCorrente(34), Conta)

True

In [135]:
idades = [15,87,65,56,32,49,37]

In [136]:
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [137]:
for i in enumerate(idades):
  print(i)

(0, 15)
(1, 87)
(2, 65)
(3, 56)
(4, 32)
(5, 49)
(6, 37)

In [138]:
[i for i in enumerate(idades) ]

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [139]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [140]:
[enumerate(idades)]

In [141]:
for indice, idade in enumerate(idades):
  print(indice,"x",idade)

0 x 15
1 x 87
2 x 65
3 x 56
4 x 32
5 x 49
6 x 37

In [142]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for nome, idade, ano in usuarios: #já desempacotando
  print(nome)

Guilherme
Ana
João

In [143]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for nome, _, _ in usuarios: #já desempacotando e ignorando o resto
  print(nome)

Guilherme
Ana
João

In [144]:
usuarios =[('Guilherme','37','1984'),
           ('Ana','30','1922'),
           ('João','30','1922')]        

for _, x, _ in usuarios: #já desempacotando e ignorando o resto
  print(x)

37
30
30

In [145]:
idades

[15, 87, 65, 56, 32, 49, 37]

In [146]:
sorted(idades)

[15, 32, 37, 49, 56, 65, 87]

In [147]:
list(reversed(idades))

[37, 49, 32, 56, 65, 87, 15]

In [148]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 15]

In [149]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 15]

In [150]:
idades.sort()

In [151]:
idades

[15, 32, 37, 49, 56, 65, 87]

In [152]:
nomes = ['Guilherme','Daniela','Samuel','guilherme']
sorted(nomes)

['Daniela', 'Guilherme', 'Samuel', 'guilherme']

In [153]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [154]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [155]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 510 <<]

In [156]:
sorted(contas)

TypeError: ignored

In [157]:
def extrai_saldo(conta):
  return conta._saldo #acessando tributo privado que não é recomendado

for conta in sorted(contas, key = extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [158]:
from operator import attrgetter #acessando um atributo privado ou não

for conta in sorted(contas, key = attrgetter('_saldo')):
  print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [159]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [160]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [161]:
conta_do_guilherme > conta_da_daniela

False

In [162]:
for conta in sorted(contas, reverse = True):
  print (conta)

[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 17 Saldo 500 <<]

In [165]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [166]:
for conta in sorted(contas):
  print (conta)

[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [167]:
for conta in sorted(contas, key=attrgetter('_saldo','_codigo')):
  print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [168]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [169]:
for conta in sorted(contas, key=attrgetter('_saldo','_codigo')):
  print(conta)

[>>Codigo 3 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]

In [172]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [173]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [174]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]

In [177]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [178]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [181]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [182]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo #retorna que é a mesma conta bancária e não o mesmo objeto
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [191]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [192]:
conta_do_guilherme <= conta_da_daniela

True

In [193]:
conta_do_guilherme <= conta_do_paulo

False

In [196]:
conta_do_guilherme == conta_do_guilherme

True